<div class="car-form">
  <p class="titulo">{{labelTitulo}}</p>
  <form (ngSubmit)="onSubmit()" #carForm="ngForm">

    <mat-form-field class="form-field">
      <mat-select placeholder="Responsável" name="profile" required ngModel [(ngModel)]="model.person">
        <mat-option *ngFor="let item of items" [value]="item">
           {{ item.name }}
        </mat-option>
      </mat-select>
    </mat-form-field> <br>

    <mat-form-field class="form-field">
      <input matInput placeholder="Modelo" required [(ngModel)]="model.modelo" name="modelo">
    </mat-form-field> <br>

    <mat-form-field class="form-field">
      <input matInput placeholder="Ano" required [(ngModel)]="model.ano" name="ano">
    </mat-form-field> <br>

    <mat-form-field class="form-field">
      <mat-select placeholder="Cor" name="cores" required ngModel [(ngModel)]="model.cor">
        <mat-option *ngFor="let cor of cores" [value]="cor">
          {{ cor }}
        </mat-option>
      </mat-select>
    </mat-form-field> <br>

    <input type="submit" value="Salvar">
  </form>
</div>