<div class="car-form">
  <p class="titulo">{{labelTitulo}}</p>
  <form>
    <span class="label-form">Responsável:</span>
    <select class="form-field" name="profile" ngModel>
        <option *ngFor="let item of items">
            {{ item.name }}
        </option>
    </select><br>

    <span class="label-form">Modelo:</span>
    <input class="form-field" type="text" name="modelo"><br>
    <span class="label-form">Ano:</span>
    <input class="form-field" type="text" name="ano"><br>
    <span class="label-form">Cor:</span>
    <input class="form-field" type="text" name="cor"><br>
    <input type="submit" value="Salvar">
  </form>
</div>