.car-form {
    width: 300px;
}

.form-field {
    width: 290px;
}

.label-form {
    display: inline-block;
    width: 100px;
}

.titulo {
    font-size: 26px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 15px;
}