.car-form {
    width: 300px;
}

.form-field {
    width: 300px;
}

input.input-ano::-webkit-outer-spin-button,
input.input-ano::-webkit-inner-spin-button {
  display: none;
}

.label-form {
    display: inline-block;
    width: 100px;
}

.titulo {
    margin: unset;
    font-size: 26px;
    text-align: center;
    margin-bottom: 15px;
}

.error {
    font-size: 9px;
    color: darksalmon;
    position: relative;
    top: 20px;
}

.btn-salvar {
    float: right;
}

.btn-form {
    margin-top: 15px;
}